@import '../css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
ul {
    list-style-type: none;
}
html {
    overflow-x: hidden;    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 1.3;
    overflow-x: hidden;
}

/* HEADER */
.header {
    position: relative;
    background-image: url(../assets/banner-bg.png);
    background-size: 100% 100%;
    background-position: top left;
    padding-top: 120px;
}
.header__scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 32px 0;
    transition: none;
}
.header__scroll.scroll {
    position: fixed;
    background-color: #ffffff;
    z-index: 9;
    padding: 20px 0;
}
.logo {
    display: flex;
}
.logo > img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.logo-text__img {
    height: 40px;
}
.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav {
    align-items: center;
}
.nav {
    width: calc(100% - 230px);
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.nav-item:not(:first-child) {
    margin-left: 15px;
}
.nav-item {
    padding: 5px 0;
    font-size: 18px;
    cursor: pointer;
}
.nav-item:hover,
.nav-item.active {
    color: #e3420d;
}
.header__btn {
    width: 200px;
}
.btn {
    height: 45px;
    background-color: #e3420d;
    border-radius: 24.5px;
    border: 1px solid #e3420d;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    outline: none;
    line-height: 1;
    padding: 0;
    font-size: 18px;
}
.btn:hover {
    background-color: transparent;
    color: #e3420d;
}
.subtitle {
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: #e3420d;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}
.banner__title {
    font-size: 66px;
    color: #000000;
    text-align: center;
    width: 100%;
}
.banner__main {
    padding: 78px 0;
}
.banner__main_images {
    display: flex;
    align-items: center;
}
.banner__maz {
    width: 172px;
    height: 386px;
    position: relative;
    top: 79px;
    z-index: 2;
}
.banner__pomada {
    position: relative;
    width: 172px;
    height: 378px;
    left: -33px;
    z-index: 1;
}
.banner__imun {
    width: 212px;
    height: 484px;
    position: relative;
    top: -17px;
}
.banner__sprey {
    width: 180px;
    height: 410px;
    position: relative;
    left: -100px;
    top: 78px;
}
.banner__form {
    position: relative;
    padding: 45px 50px 50px 50px;
    margin: 0px 37px 0 65px;
    margin-bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0px 0px 38px -12px rgba(0,0,0,0.75);
}
.banner__form_title {
    font-size: 18px;
    color: rgba(88, 87, 90, 255);
    text-align: center;
}
.banner__form_price {
    padding: 30px 0 35px 0;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1;
}
.price__new {
    font-size: 18px;
    color: rgba(227, 66, 13, 255);
    line-height: 1;
    margin-bottom: 0;
    display: inline-block;
}
.price__old {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: rgba(153, 153, 153, 255);
}
.banner__form_controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form__control {
    font-family: 'Lato', sans-serif;
    width: 100%;
    max-width: 280px;
    padding: 16px 0;
    border: 0;
    color: #999999;
    border-bottom: 2px solid #cbc8cf;
    text-align: center;
    outline: none;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
}
.form__control::placeholder,
.form__control::-webkit-input-placeholder,
.form__control::-moz-placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #999999;
}
.banner__form_btn {
    width: 100%;
    max-width: 280px;
    margin-top: 28px;
}
/* END:HEADER */

/* timer */
.form__timer {
    position: absolute;
    bottom: 50%;
    right: 0;
    height: 160px;
    width: 160px;
    background-color: #eeeeee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(40%);
}
.timer-bg {
    position: relative;
    border-radius: 50%;
    background-color: #de390b;
    width: 117px;
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 38px -12px rgba(0,0,0,0.75);
}
.timer-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transform: scale(1.1);
    border-radius: 50%;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 107px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.75);
}
.timer__img {
    width: 18px;
    height: 18px;
}
.time {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgba(46, 61, 69, 255);
    text-align: center;
    line-height: 1;
    padding: 9px 0;
}
.timer-title {
    font-size: 14px;
    color: rgba(102, 102, 102, 255);
    text-align: center;
}
/* END:timer */

/* Danger */
.section-title {
    font-size: 36px;
}
.section-title.line {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 40px;
    position: relative;
}
.section-title.line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    border-bottom: 1px solid #e5e5e5;
}
.danger {
    padding: 78px 0;
}
.danger__items {
    display: flex;
    justify-content: space-between;
}
.danger__item {
    background-color: #efefef;
    width: calc((100% - 3px) / 2);
}
.danger__info {
    padding: 50px 35px 50px 50px;
}
.danger__title {
    font-weight: 700;
    font-size: 22px;
}
.danger__text {
    font-size: 20px;
    color: rgba(88, 87, 90, 255);
    margin-bottom: 0;
}
.danger__img {
    width: 100%;
}
/* END:Danger */

/* products */
.products__item_subtitle {
    font-size: 20px;
    color: rgba(88, 87, 90, 255);
    line-height: 1;
    margin: 9px 0 0 0;
}
.products__item {
    padding: 60px 35px;
    overflow: hidden;
}
.item-imun {
    background-color: #fff1de;
}
.item-pomada {
    background-color: #ffd2d8;
}
.item-maz {
    background-color: #ffddee;
}
.item-sprey {
    background-color: #e4e4ff;
    flex-direction: column;
    min-height: 100%;
}
.products__title {
    font-size: 27px;
    white-space: nowrap;
}
.products__text_desc p:last-child {
    margin-bottom: 0;
}
.products__text_desc p:nth-child(2) {
    margin-top: 26px;
}
.products__img {
    position: relative;
    max-width: 100%;
}
.products__img img {
    position: absolute;
    min-width: 186px;
    transform: translateX(-50%);
    left: 50%;
    margin-left: 25px;
}
.products__text_desc {
    padding-right: 57px;
}
.item-sprey .products__text_desc {
    padding-right: 0;
}
.item-sprey .products__text_desc p:last-child {
    margin-bottom: 60px;
}
.item-sprey .products__img {max-height: 243.5px;}
.item-sprey .products__img img {margin-left: 65px;}
.item-maz .products__img img {
    margin-left: -32px;
    top: -30px;
}
.item-pomada .products__img img {
    top: -93px;
}
/* END:products */

/* components */
.components {
    padding: 80px 0;
}
.components__items {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-height: 1094px;
}
.components__item {
    background-color: #efefef;
    padding: 40px 29px;
    margin-bottom: 3px;
}
.components-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc((100% - 9px) / 4);
}
.component__title {
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: capitalize;
    white-space: nowrap;
}
.components__item img {
    max-width: 100%;
}
.components__text {
    font-size: 18px;
    margin-bottom: 26px;
}
.components-col .components__item:last-child {
    margin-bottom: 0;
}
.component-1 {
    padding-bottom: 30px;
}
.component-2 {
    padding-bottom: 54px;
}
.component-3 {
    padding-bottom: 54px;
}
.component-5 {
    /* padding-bottom: 54px; */
}
.component-6 {
    padding-top: 54px;
    padding-bottom: 55px;
}
.component-7 {
    padding-bottom: 48px;
}
.component-8 {
    padding-bottom: 36px;
}
.component-6 .components__text {margin-bottom: 51px;}
/* END:components */

/* important */
.important {
    padding: 100px 0;
    background-image: url(../assets/important-bg.png);
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
}
.important .section-title {
    text-align: left;
    margin-bottom: 30px;
    line-height: 1;
}
.important__price {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 22px;
}
.important__price b {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
    margin-right: 50px;
    margin-left: 8px;
}
.important__btn {
    width: 57%;
}
.important__btn:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.important__img {
    position: relative;
}
.important__img img {
    position: absolute;
    right: 22px;
    top: -75px;
}
/* END:important */

/* experts */
.experts {
    padding: 75px 0 55px 0;
}
.experts .section-title.line {
    margin-bottom: 0;
}
.expert__item {
    margin-top: 50px;
}
.expert__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.expert__img_wrap {
    position: relative;
    width: 100%;
    height: 350px;
    z-index: -1;
    background-color: #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expert__img img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.expert__title {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 26px;
    text-align: left;
    line-height: 1;
    margin-bottom: 0;
}
.expert__subtitle {
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    line-height: 1;
    color: #767577;
    font-size: 16px;
}
.experts .products__text_desc {
    margin-top: 20px;
    font-size: 16px;
}
.expert__stag {
    font-size: 14px;
    background-color: #e3420d;
    padding: 5px 14px 6px 14px;
    line-height: 1;
    margin-left: 15px;
    text-transform: none;
    color: #fff;
    border-radius: 13px;
}
.expert__info_text p:last-child {
    margin-bottom: 0;
}
/* END:experts */

/* feedback */
.feedback {
    margin-bottom: 80px;
}
.feedback__slider {
    position: relative;
    background-color: #efeeec;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.feedback__slider_item {
    padding: 80px 100px;
    min-width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.slider__controls {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 42px;
}
.slider__control {
    position: relative;
    cursor: pointer;
}
.slider__control:hover {
    transform: scale(1.4);
}
.slider__control.right {
    transform: rotate(180deg);
}
.slider__control.right:hover {
    transform: rotate(180deg) scale(1.4);
}
.feedback__img {
    width: 278px;
    height: 278px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedback__img img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.feedback__info {
    width: calc(100% - 306px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* END:feedback */

/* sert */
.sertificate {
    background-image: url(../assets/sert-bg.png);
    background-position: top center;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
}
.sertificate .section-title {
    line-height: 1;
    margin-bottom: 0;
}
.sertificate__info {
    padding: 34px 0 40px 0;
    font-size: 18px;
}
.sertificate__item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}
.sertificate__item img {
    width: 60px;
    height: 60px;
    margin-right: 22px;
}
.sertificate__item_text {
    max-width: 250px;
    font-size: 18px;
}
.sertificate__item_text span {
    display: block;
    font-size: 25px;
}
.sertificate__item:nth-child(3),
.sertificate__item:nth-child(4) {
    margin-bottom: 0;
}
.sert {
    display: flex;
    justify-content: center;
}
.sert__wrap {
    position: relative;
    height: 100%;
    width: 261px;
    background-color: #fff;
    display: flex;
    padding: 10px;
}
.sert__wrap img {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}
/* END:sert */

/* FOOTER */
.footer {
    position: relative;
}
.footer__logo {
    width: 40px;
    height: 40px;
}
.footer__top {
    padding: 150px 0;
}
.footer__text-form {
    font-size: 17px;
    color: rgba(88, 87, 90, 255);
    padding: 30px 0 50px 0;
}
.footer__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__form .form__control {
    width: calc((100% - 45px) / 2);
}
.footer__form_btn {
    width: calc((100% - 45px) / 2);
    margin-top: 40px;
}
.footer__form_price {
    width: calc((100% - 45px) / 2);
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    font-size: 19px;
    line-height: 1;
    text-align: center;
}
.footer__form_price .price__old {
    margin-left: 23px;
    height: fit-content;
}
.footer__bottom {
    padding: 24px 0 46px 0;
    background-color: #343439;
}
.footer__text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    font-size: 18px;
}
.footer__form_img {
    position: relative;
}
.footer__form_img .all {
    position: absolute;
    top: -73px;
    right: 0;
    max-width: 100%;
    width: 417px;
}
/* END:FOOTER */
.mobile {
    display: none;
}
.desctop {
    display: block;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
 
}
@media (max-width: 768px) {
    
}